@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; /* Center form vertically */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column; /* Stack items vertically */
}

body h1 {
    margin-bottom: 20px; /* Add space below the title */
    text-align: center; /* Center the title */
}

.checkout-form {
    width: 600px; /* Increase form width */
    padding: 50px; /* Increase padding */
    background-color: #444;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.checkout-form input {
    display: block;
    width: 90%; /* Decrease width to prevent text overflowing */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-size: 14px; /* Decrease font size */
    background-color: #555;
    color: #fff;
}

.checkout-form button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer