@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f4f4f4;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 2.5em;
}

div > div {
    border: 1px solid #444;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
    width: calc(33.33% - 20px);
    float: left;
    box-sizing: border-box;
}

div > div > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

div > div > h2 {
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
}

div > div > p {
    font-size: 16px;
    margin: 10px 0;
    color: #ccc;
}

div > div > button {
    display: inline-block;
    background-color: #3498db;
    color: #830000;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

div > div > button:hover {
    background-color: #2980b9;
}

div > a {
    display: block;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    text-decoration: none;
}

div > a:hover {
    color: #3498db;
}

div::after {
    content: "";
    display: table;
    clear: both;
}